
*{
  margin: 0px;
}

body{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar{
  margin: 20px;
  border: solid black;
}

.main-container{
  padding:20px;
  border: solid black;
  width : 70%;
  height : 20vh;
  display: grid;
  grid-template-columns: repeat(4,1fr);

}

.tap{
  border: solid black;
  background-color: coral;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell{
  border: solid black;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
