.App {
  text-align: center;
  position: relative;
}

.cart-button {
  position: absolute;
  top: 0;
  right: 200px;
  height: 50px;
  width: 50px;
}

.installed-button {
  position: absolute;
  top: 0;
  right: 100px;
  height: 50px;
  width: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  background: #2e2a24;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
  padding: 0;
  margin: 0;
}
html {
  padding: 50px;
  font: 14px normal Arial, sans-serif;
  color: #626771;
   background: #2e2a24;
   font-family: "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Roboto", sans-serif;
}


input[type=text]{
  text-align: center;
  font: inherit;
  border: 2px solid #f9d094;
  padding: 13px 12px;
  font-size: 15px;
  box-shadow: 0 1px 1px #DDD;
  width: 450px;
  outline: none;
  display: block;
  color: #788585;
  margin: 0 auto 20px;
}
ul {
  list-style: none;
  display: inline-block;
  width: 420px;
  text-align: left;
}


ul li {
  display: block;
  padding: 15px 20px;
  background-color: #F8F8F8;
  color: #788585;
  margin-bottom: 3px;
  position: relative;
  transition: 0.3s;
}
ul li a {
  position: absolute;
  left: 160px;
  font-size: 12px;
  line-height: 16px;
  color: #969d9d;
}
ul li:hover {
  background-color: #f9d094;
}

h1,h2,h3{
  color: #f9d094;
  font-size: 420%;
  margin: 0 0 0.1em;
  text-align: center;
  text-shadow:1px 1px 10px rgba(0, 0, 0, 0.25)
}

.cart-container{
  width: 100vw;
  position: fixed;

}

/* .cart-button{
  float:right;
} */
/* 
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left:0; top:0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content{
  background-color: #f4f4f4;
  margin: 18% auto;
  padding: 20px;
  width: 23%;
  height: 40vh;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2) ;
  float: right;
}

.closeBtn{
  color: #ccc;
  float: right;
  font-size:30px;
} */

/* .closeBtn:hover, .closeBtn:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
} */
